<header class="py-3 mb-3 border-bottom" th:fragment = "header">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://raw.githubusercontent.com/bychkova/NoteApp/main/src/main/resources/templates/img/logo-margin.png" alt="logo" height="38">
            </a>
            <ul class="dropdown-menu text-small shadow" style="">
                <li><a class="dropdown-item" href="/note/create">Добавить</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/">Все заметки</a></li>
                <li th:each = "el : ${folders}"><a class="dropdown-item" href="#" th:text = "${el.title}"></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/folder/create">+ новая папка</a></li>
            </ul>
        </div>

        <div class="d-flex align-items-center">
            <form class="w-100 me-3" role="search" action = "/" method="get">
                <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search" name = "search">
            </form>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://raw.githubusercontent.com/bychkova/NoteApp/main/src/main/resources/templates/img/avatar-small.png" alt="avatar" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="user/edit/">Профиль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>